<% if user_signed_in? %>
    <% if current_user.already_liked?(post) %>
            <%=link_to kill_likes_path(post_id: post.id ,like_id: post.likes[0].id), method: :delete, remote: true do%>
                <button type="button" class="btn btn-info w-100 m-1 py-3 px-5 shadow">
                    Clap!!
                </button>
            <% end %>
    <% else %>
            <%=link_to post_likes_path(post.id), method: :post, remote: true do %>
                <button type="button" class="btn btn-outline-info w-100 m-1 py-3 px-5 shadow">
                    <%= icon("fa", "sign-language") %>
                </button>
            <% end %>
    <% end %>
<% else %>
    <%= button_to new_user_session_path, class:"btn btn-outline-info w-100 m-1 py-3 px-5 shadow" do %>
            <%= icon("fa", "sign-language") %>
            <% if post.likes_count.nil? %>
                0
            <% else %>
                <%= post.likes_count %>
            <% end %>
        <% end %> 
<% end %>